@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	padding: 0;
	position:relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	font-size: 10pt;
	color: #333;
	padding: 0;
	margin: 0;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
/*
.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
}
*/

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
*/

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/* ====================== Navigation ====================== */
nav {
  width: 25rem;
  height: 80px;
	margin: auto;
  background-color: #252831;
  text-align:center;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;

}
/* I'm at a loss for how make this nav box appear at full-width */

nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
	margin: auto;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ============= RESPONSIVE NAV CSS =============*/

.dib.di  {
    /*display: inline-block;*/
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w-100 {
margin-left: auto;
	margin-right: auto;
	width: 100%;
}


.white {
    color: #fff;
}

.bg-black-90 {
    background-color: rgba(0, 0, 0, .9);
}

.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pa3 {
	padding: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dib {
    display: inline-block;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) {
    .pv4-ns {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .ph4-m {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 60em) {
    .ph5-l {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* ====================== Map ====================== */
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
	margin-bottom: 2rem;
	display:block;
}

#maincontent #map-container {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

#maincontent-top > #map-container, #maincontent-top > #map-container > #map {
  height: 200px;
}

.inside #map-container {
  width: 100%;
}

@media (min-width:700px)  {
  #maincontent-top > #map-container, #maincontent-top > #map-container > #map {
    height: 660px;
  }
 }
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	display: flex;
  width: 100%;
  height: 9em;
  background-color: #3397DB;
	flex-grow: 1;
	flex-direction: column;
  align-items: center;
	padding: 1em;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 2em;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
	padding-top: 10px;
  width: 200px;
}

#neighborhoods-select {
	height: 36px;
}
#cuisines-select {
	height: 36px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
		display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	  align-items: center;
	  background-color: #f3f3f3;
	  list-style: outside none none;
	  margin: 0;
	  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  min-height: 380px;
  padding: 0 4px 4px;
  text-align: left;
  max-width: 100%;
	display: flex;
	flex-direction: column;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
	width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;;
  right: 0;;
  width: 50%;
	display: block;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
	padding: 2rem;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 100%;
}
#reviews-container {
  /*padding: 30px 40px 80px;*/
	color: #444;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

#maincontent-top {
  display: flex;
  flex-direction: column;
}

@media (min-width:700px)  {
  #maincontent-top {
    flex-direction: row-reverse;
  }
